@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <button type="button" onClick="getWeather()">Update</button>
    <br />
    <br />
    <table id="forecast">
    </table>
</div>
