@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CSS Example page</h1>
    <h2 id="main-heading">Welcome to the page!</h2>
    <p>Regular text</p>
    <h2>Normal heading</h2>
    <div class="callout">
        <p>This is a primary callout.</p>
    </div>
    <div>
        <p>More regular text</p>
    </div>
</div>
